@font-face {
    font-family: 'Comfortaa';
    src: url("Comfortaa.ttf") format("truetype");
}

html,body {
    height: 100vh;
    font-family: 'Comfortaa';
}


div {
    width; 100%;
    vertical-align: middle;
    display: block;
    justify-content: center;
}

h1 {
    display: block;
    text-align: center;
}

.box {
    outline-color: #555;
    outline-style: solid;
    outline-width: 1px;
    padding: 5%;
    margin: 5px;
    background-color: #fff;
}

.warning{
    outline-color: #ff944d;
    outline-style: solid;
    outline-width: 2px;
}

.scroll{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top:150px;
    padding-bottom:150px;
}

.scroll::-webkit-scrollbar {
    width: 10px;
    margin-top: 150px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

button {
    width:100%
    transition-duration: 0.4s;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
    color: white;
}
