html,body {
    height: 100%;
}

div {
    width; 100%;
    vertical-align: middle;
    display: block;
    justify-content: center;
}

h1 {
    display: block;
    text-align: center;
}

.box {
    outline-color: #555;
    outline-style: solid;
    outline-width: 1px;
    padding: 5%;
    margin: 5px;
    background-color: #fff;
}

.warning{
    outline-color: #ff944d;
    outline-style: solid;
    outline-width: 2px;
}

button {
    width:100%
    transition-duration: 0.4s;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
    color: white;
}
