{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- My CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'resume_analysis_app/styles.css' %}">

        <title>Quandary PRO</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'resume_analysis_app/favicon.ico' %}"/>

    </head>
    <body style="background-image: url({% static 'resume_analysis_app/background.png' %});">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top justify-content-center">
            <div class="row" style="width:100%;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col">
                    <a class="navbar-brand mr-4 mt-2" href="{% url 'home' %}">Quandary PRO</a>
                </div>
                <form method="get" action="{% url 'search' %}" style="min-width:50%;">
                    <div class="input-group mb-3 mt-3">
                      <input type="text" name="search" class="form-control" placeholder="Search For Jobs Or Organisations...">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                      </div>
                    </div>
                </form>
                <div class="navbar-collapse collapse" id="navbar">
                    <li class="navbar-nav">
                      <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="navbar-nav">
                      {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                      {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                      {% endif %}
                    </li>
                  </div>
            </div>
        </nav>
        <main class="container" style="min-height: 100%;">
            <div class="row" style="flex-wrap: wrap;">
                <!-- Sidebar to show Applicants on Applicant Dashboard-->
                {% if request.path == "/dashboard/" %}
                    <div class="col-md-3" style="margin-top: 150px; padding: 3px;">
                        <div class="container box">
                            <h3 style="text-align:center">Applicants</h3>
                            <br>
                            <ul class="list-group">
                                <form method="get">
                                    <input type="hidden" name="update" value="1" />
                                    <input type="hidden" name="job_id" value="{{job.id}}" />
                                    <button style="width:100%" onclick="this.parentNode.submit()"
                                    >Search for Recommendations</button>
                                </form>
                                <br>
                                {% for application in applicants %}
                                    {% if application.id == applicant.id %}
                                        <form method="get" style="outline-style: solid; outline-width: 1px;">
                                            <input type="hidden" name="job_id" value="{{job.id}}"/>
                                            <a href="#" style="padding:10px; background:#ddd; display:block"
                                               onclick="this.parentNode.submit()"
                                            >{{ application.username }} (X)</a>
                                        </form>
                                    {% else %}
                                        <form method="get" action="" style="padding:10px; display:block; outline-style: solid; outline-width: 1px;">
                                            <input type="hidden" name="job_id" value="{{job.id}}" />
                                            <input type="hidden" name="user" value="{{application.id}}" />
                                            <a href="#" onclick="this.parentNode.submit()" style="display:block;"
                                            >{{ application.username }}</a>
                                        </form>
                                    {% endif %}
                                {% endfor %}
                              </ul>
                        </div>
                    </div>
                {% endif %}
                <!-- Main Content -->
                <div class="col-md-8" style="margin-top: 150px;">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
                <!-- Sidebar to Show the Organisation Users Belong to-->
                {% if request.path == "/profile/" and user.account.organisation %}
                    <div class="col-md-4" style="margin-top: 150px; padding: 3px;">
                        <div class="container box">
                            <h3 style="text-align: center">Current Position</h3>
                            <br>
                            {% if user.account.job %}
                                <div class="col">
                                    <a href="{% url 'job_view' %}?id={{user.account.job.id}}"><h5>{{user.account.job.title}}</h5></a>
                                    <h6>£{{user.account.job.salary}} - {{user.account.job.location}}</h6>
                                </div>
                            {% else %}
                                <p>No Position Found</p>
                            {% endif %}
                            <br>
                            <a href="{% url 'organisation_view' %}?id={{user.account.organisation.id}}">
                                <h3 style="text-align: center">{{user.account.organisation}}</h3>
                            </a>
                            <br>
                            <p style="text-align:justify">{{user.account.organisation.company_description}}</p>
                        </div>
                        <div class="container box">
                            <a href="{% url 'posted_positions' %}">
                                <h3 style="text-align: center">Posted Positions</h3>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            {% endif %}
        <br>
        <br>
        <br>
        <br>
        </main>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
    </body>
</html>