{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
        <!-- My CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'resume_analysis_app/styles.css' %}">

        <title>Quandary PRO</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'resume_analysis_app/favicon.ico' %}"/>
    </head>
    <body style="overflow:hidden; left:0; right:0; background-image: url({% static 'resume_analysis_app/background.png' %});">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top justify-content-center">
            <div class="row" style="width:100%;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col">
                    <a class="navbar-brand mr-4 mt-2" href="{% url 'home' %}">Quandary PRO</a>
                </div>
                <form method="get" action="{% url 'search' %}" style="min-width:50%;">
                    <div class="input-group mb-3 mt-3">
                      <input type="text" name="search" class="form-control" placeholder="Search For Jobs Or Organisations...">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                      </div>
                    </div>
                </form>
                <div class="navbar-collapse collapse" id="navbar">
                    <li class="navbar-nav">
                      <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="navbar-nav">
                      {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                      {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                      {% endif %}
                    </li>
                  </div>
            </div>
        </nav>
        <main class="container" style="min-height: 100%; min-width:80%;">
            <div class="row">
                <!-- Sidebar to show Applicants on Applicant Dashboard-->
                {% if request.path == "/dashboard/" or request.path == "/candidates/"%}
                    {% include 'resume_analysis_app/sidebar_app.html' %}
                {% endif %}
                <!-- Sidebar to show Organisation Details-->
                {% if request.path == "/organisation/" %}
                    {% include 'resume_analysis_app/sidebar_org.html' %}
                {% endif %}
                <!-- Main Content -->
                <div class="col-md-8 scroll" style="padding-top:150px; padding-bottom:150px;">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock content %}
                </div>
                <!-- Sidebar to Show the Organisation Users Belong to-->
                {% if request.path != "/job/" and request.path != "/dashboard/" and request.path != "/organisation/" and request.path != "/candidates/" and user.is_authenticated %}
                    {% include 'resume_analysis_app/sidebar_profile.html' %}
                {% endif %}
                <!-- Sidebar to on Job View Page-->
                {% if request.path == "/job/" and user.account.organisation == job.organisation %}
                    {% include 'resume_analysis_app/sidebar_job.html' %}
                {% endif %}
            </div>
            <!-- Preparation for Pagination-->
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            {% endif %}
        <br>
        <br>
        <br>
        <br>
        </main>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

        <!-- (Optional) Latest compiled and minified JavaScript translation files -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

    </body>
</html>