{% extends 'resume_analysis_app/_site_frame.html' %}
{% block content %}
    <div class="container box">
        <div class="row">
            <h1>Add Qualification</h1>
        </div>
    </div>
    <form method="post" id="interview">
        {% csrf_token %}
        <div class="container box">
            <label for="institution">Name of Institution</label><br>
            <input type="text" id="institution" name="institution" style="width:100%" required><br><br>
            <label for="qualification">Qualification</label><br>
            <input type="text" id="qualification" name="qualification" style="width:100%" required><br><br>
            <label for="grade">Grade</label><br>
            <input type="text" id="grade" name="grade" style="width:100%" required><br>
        </div>

        <div class="container box">
            <input class="btn btn-outline-secondary" type="submit" style="width: 100%">
        </div>
    </form>
{% endblock content %}