{% extends 'resume_analysis_app/_site_frame.html' %}
{% block content %}

    {% if applicant %}
        <div class="container box">
            <div class="row">
                <h1>Candidate Insights</h1>
            </div>
            {% if search %}
<!--                <button class="btn btn-outline-danger" onclick="window.history.back()"-->
<!--                style="display: block; margin-left: auto; margin-right: auto; margin-top: 30px"-->
<!--                >Back To Search Results</button>-->
            {% else %}
                <form method="get">
                    <input type="hidden" name="job_id" value="{{job.id}}">
                    <input type="hidden" name="remove_app" value="{{applicant.account.user.id}}">
                    <input type="submit" value="Remove Candidate From Shortlist" class="btn btn-outline-danger"
                           style="display: block; margin-left: auto; margin-right: auto; margin-top: 30px">
                </form>
            {% endif %}
        </div>
        <div class="container box">
            <div class="row">
                <div class="col-3" style="font-weight:bold; margin:0px;">
                    Username:
                </div>
                <div class="col">
                    {{ applicant }}
                </div>
            </div>
            <div class="row">
                <div class="col-3" style="font-weight:bold; margin:0px;">
                    Email:
                </div>
                <div class="col">
                    {{ applicant.email }}
                </div>
            </div>
            <div class="row">
                <div class="col-3" style="font-weight:bold; margin:0px;">
                    Resume:
                </div>
                <div class="col">
                    <a  href="{{ applicant.account.resume.url }}" download> Download Document </a>
                </div>
            </div>
            <br>
            {% for qual in applicant.account.education %}
                <div class="row">
                    <div class="col-3" style="font-weight:bold; margin:0px;">
                        Qualification:
                    </div>
                    <div class="col">
                        <p style="font-weight:bold; margin:0px;">{{qual.institution}}:</p>
                        <p>{{qual.qualification}}, {{qual.grade}}</p>
                    </div>
                </div>
            {% endfor %}
        </div><br>
        <div class="container box">
            <div class="row">
                <h3>Resume Analysis</h3>
            </div>
<!--            <div class="row" style="display:block"><h5>Candidate Categories:</h5></div>-->
<!--            <div class="row ml-2">-->
<!--                <p style="text-align: left; width:100%">{{applicant.account.category1}}</p>-->
<!--            </div>-->

<!--            <div class="row ml-2">-->
<!--                <p style="text-align: left; width:100%">{{applicant.account.category2}}</p>-->
<!--            </div>-->

<!--            <div class="row ml-2">-->
<!--                <p style="text-align: left; width:100%">{{applicant.account.category3}}</p>-->
<!--            </div>-->
            <div class="row" style="display:block"><h5>Matching keywords:</h5></div>
            <div class="col" style="display:block">
                {% for kw in matches %}
                    {{ kw }},
                {% empty %}
                    No Matches
                {% endfor %}
            </div><br>
            <div class="row" style="display:block"><h5>Prevalent keywords:</h5></div>
            <div class="col">
                {% for kw in applicant.account.keywords %}
                    {{ kw }},
                {% endfor %}
            </div><br>
            <div class="row" style="display:block"><h5>Resume Concepts:</h5></div>
                {% for conc, li in applicant.account.concepts %}
                <div class="row" style="display: inline-block; outline-style: solid; outline-width: 1px; margin: 5px; padding:5px; background:#eee">
                    <a href="{{ li }}">{{ conc }}</a>
                </div>
                {% endfor %}
        </div> <br>
        <div class="container box">
            <div class="row">
                <h3>Personality Analysis</h3>
            </div>
            {% if applicant.account.pers_big5 != '{}' %}
                {% if fig %}
                    {% autoescape off %}
                    {{ fig }}
                    {% endautoescape %}
                {% else %}
                    Applicant hasn't yet responded to interview questions.
                {% endif %}
            {% else %}
                <p style="text-align:center">No Personality Breakdown Available</p>
            {% endif %}
        </div> <br>
        {% if questions %}
            <div class="box container">
                <div class="row">
                    <h3>Question Response Breakdowns</h3>
                </div>
            </div>
            {% for question, tones in questions %}
                <div class="container box" style="padding:2%;">
                    <div class="row">
                        <h4>{{ question.question }}</h4>
                    </div>
                    <div class="row">
                        {% for tone_type in tones %}
                            {% for tone in tone_type.tones %}
                                <div class="col">
                                    <div class="progress justify-content-start">
                                        <div class="progress-bar" role="progressbar" style="width: {% widthratio tone.score 1 100 %}%">
                                            {{ tone.tone_name }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="row">
                        <p style="margin:20px">{{ question.response }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="box container">
                <div class="row">
                    <h5>No Questions Answered</h5>
                </div>
            </div> <br>
        {% endif %}
    {% else %}
        <div class="container box">
            <div class="row">
                <h1>Position Dashboard</h1>
            </div>
        </div>
        <div class="container box">
            <div class="row">
                <div class="col-3">
                    <h5>Position Title:</h5>
                </div>
                <div class="col">
                    <h5>{{job.title}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h5>Salary:</h5>
                </div>
                <div class="col">
                    <h5>£{{job.salary}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h5>Location:</h5>
                </div>
                <div class="col">
                    <h5>{{job.location}}</h5>
                </div>
            </div> <br>
            <div class="row" style="justify-content: left !important"><h5>Description:</h5></div>
            <div class="row" style="justify-content: left !important"><p>{{job.description_func}}</p></div>
            <div class="row" style="justify-content: left !important"><p>{{job.description_non_func}}</p></div>
        </div>
        <div class="container box">
            <div class="row">
                <h3>Position Analysis</h3>
            </div>
            <br>
<!--            <div class="row" style="display:block">-->
<!--                <div class="col">-->
<!--                    <h5>Position Categories:</h5>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row ml-2">-->
<!--                <p style="text-align: left; width:100%">{{job.category1}}</p>-->
<!--            </div>-->

<!--            <div class="row ml-2">-->
<!--                <p style="text-align: left; width:100%">{{job.category2}}</p>-->
<!--            </div>-->

<!--            <div class="row ml-2">-->
<!--                <p style="text-align: left; width:100%">{{job.category3}}</p>-->
<!--            </div>-->
            <div class="row" style="display:block">
                <div class="col">
                    <h5>Position Concepts:</h5>
                </div>
            </div>
            <div class="row mb-4">
                {% for conc, li in job.concepts %}
                    <div class="d-flex flex-md-row">
                        <div class="row" style="outline-style: solid; outline-width: 1px; margin: 5px; padding:5px; background:#eee">
                            <a href="{{ li }}">{{ conc }}</a>
                            <a href="?job_id={{job.id}}&remove_con={{conc}}" onclick="this.parentNode.submit()" style="margin-left:10px">X</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <h5>Must-Have Keywords:</h5>
                </div>
            </div>
            <div class="row mt-3" style="margin-bottom:30px">
                {% if job.keywords_req %}{% else %}<p>No Keywords Selected as Required</p>{% endif %}
                {% for keyword in job.keywords_req %}
                    <div class="d-flex flex-md-row">
                        <div class="row" style="outline-style: solid; outline-width: 1px; margin: 5px; padding:5px; background:#eee">
                            {{keyword}}
                            <a href="?job_id={{job.id}}&remove_req_kw={{keyword}}" onclick="this.parentNode.submit()" style="margin-left:10px">X</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row" style="justify-content: left !important">
                <div class="col">
                    <h5>Position Keywords:</h5>
                </div>
                <div class="col">
                    <div class="row">
                        <form method="get" style="min-width:100%;">
                            <div class="input-group">
                              <input type="text" name="add_kw" class="form-control" placeholder="Add Keyword">
                              <input type="hidden" name="job_id" value="{{job.id}}">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Add</button>
                              </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="dropdown" style="width:100%; margin-top:5px;">
                            <button class="btn btn-muted dropdown-toggle" style="width:100%" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action For Selected Keywords
                            </button>
                            <div class="dropdown-menu" style="width: 100%" aria-labelledby="dropdownMenuButton">
                                <form method="get" id="Action">
                                    <input type="hidden" name="job_id" value="{{job.id}}">
                                    <input type="submit" name="req_kws" value="Make Selected Keywords Required"
                                           onclick="this.parentNode.submit()" class="dropdown-item" style="color: var(--success)">
                                    <input type="submit" name="remove_kws" value="Remove Selected Keywords"
                                           onclick="this.parentNode.submit()" class="dropdown-item" style="color: var(--danger)">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="justify-content: left !important">
                <div class="col" style="margin:auto; margin-right:5px">
                </div>
            </div>
            <div class="row mt-3">
                {% for keyword in job.keywords %}
                    <div class="d-flex flex-md-row">
                        <div class="row" style="outline-style: solid; outline-width: 1px; margin: 5px; padding:5px; background:#eee">
                            {{keyword}}
                            <input form="Action" type="checkbox" name="check" value="{{keyword}}" style="margin:auto; margin-left:10px">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}


{% endblock content %}