{% extends 'resume_analysis_app/_site_frame.html' %}
{% block content %}

    <div class="container box">
        <div class="row">
            <div class="col-2">
                <img src="../../static/resume_analysis_app/logo.png" style="width:100%">
            </div>
            <div class="col">
                <h1>Quandary PRO-totype</h1>
                <p style="text-align: center; margin-bottom: 0px; font-size:11x;">Making Smart Recruitment Decisions.</p>
            </div>
        </div>
    </div>
    <br>
    {% if not user.is_authenticated %}
    <div class="container box">
        <div class="row">
            <h5 style="text-align:center">Welcome to Smart Recruitment!</h5>
            <h5 style="text-align:center">Remember to sign up and upload your CV to apply for positions.</h5>
        </div>
    </div>
    <br>
    {% endif %}
    <div class="container box" style="padding: 2%">
        <h4>Recent Postings</h4>
    </div>

    {% for job in jobs %}
    <div class="container box">
        <div class="row">
            <div class="col">
                <a href="{% url 'job_view' %}?id={{job.id}}"><h3>{{job.title}}</h3></a>
                <h5>£{{job.salary}} - {{job.location}}</h5>
            </div>
            <div class="col" style="text-align: right !important">
                <a href="{% url 'organisation_view' %}?id={{job.organisation.id}}">
                    <h3>{{job.organisation}}</h3>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}