{% extends 'resume_analysis_app/_site_frame.html' %}
{% block content %}

    <div class="container box">
        <div class="row">
            <h1>{{ user.first_name }}</h1>
        </div>
        <div class="row">
            <h5>{{ user.email }}</h5>
        </div>
    </div>
    <br>
    {% if user.account.pers_big5 == "{}" or user.account.filename == "my_resume.pdf" %}
        <div class="container box warning" style="padding: 2%">
            <h4>Complete Your Profile</h4>
        </div>
    {% else %}
       <div class="container box" style="padding: 2%">
            <h4>Profile Complete</h4>
       </div>
    {% endif %}

    <div class="container" style="margin:5px">
        <div class="row">
            {% if user.account.filename == "my_resume.pdf" %}
            <div class="col box warning" style="margin-left:0px">
            {% else %}
            <div class="col box" style="margin-left:0px">
            {% endif %}
                <img src="../../static/resume_analysis_app/document-text-outline.svg" style="width:30%; display: block; margin-bottom:15px; margin-left: auto; margin-right: auto;">
                <h6 style="text-align:center">Upload My Resume</h6>
                <p>(Current File: {{ account.filename }})</p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <label for="file" class="btn mt-1 btn-outline-secondary">File</label>
                            <input style="display:none" id="file" type="file" name="cv">
                        </div>
                        <div class="col-4">
                            <input class="btn btn-outline-secondary" type="submit" value="Upload" style="margin-top:5px">
                        </div>
                    </div>
                </form>
            </div>
            {% if user.account.pers_big5 == "{}" %}
            <div class="col box warning" style="margin-right:0px">
            {% else %}
            <div class="col box" style="margin-right:0px">
            {% endif %}
                <img src="../../static/resume_analysis_app/body-outline.svg" style="width:30%; display: block; margin-bottom:15px; margin-left: auto; margin-right: auto;">
                <h6 style="text-align:center">Let Us Get To Know More About You...</h6>
                <br><br>
                <form method="get" action="{% url 'interview' %}">
                    <button class="btn btn-outline-secondary" type="submit" style="width: 100%;">Complete Questions</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="container box" style="padding: 2%">
        <div class="row" style="padding-right: 10px;">
            <div class="col"><h4>My Qualifications</h4></div>
            <div class="col-1">
                <a href="{% url 'add_qualification' %}">Add</a>
            </div>
        </div>
    </div>
    {% if user.account.education %}
        {% for qual in account.education %}
            <div class="container box">
                <div class="row" style="padding-right: 20px;">
                    <div class="col"><h5>{{qual.institution}}</h5></div>
                    <div class="col-1">
                        <form method="post" action="{% url 'add_job' %}">
                            {% csrf_token %}
                            <input type="hidden" name="delete" value="{{qual}}">
                            <a href="#" onclick="this.parentNode.submit();">Remove</a>
                        </form>
                    </div>
                </div>
                <div class="row" style="display:block">
                    <div class="col"><h6>{{qual.qualification}}, {{qual.grade}}</h6></div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}