{% extends 'resume_analysis_app/_site_frame.html' %}
{% block content %}

    <div class="container box">
        <div class="row">
            <h1>{{ user.username }}</h1>
        </div>
        <div class="row">
            <h5>{{ user.email }}</h5>
        </div>
    </div>
    <br>
    <div class="container box" style="padding: 2%">
        <h4>To Apply For Positions</h4>
    </div>

    <div class="container box">
        <div class="row" style="display:block">
            <h6>Upload My Resume</h6>
        </div>
        <p>(Current File: {{ user.account.filename }})</p>
        <form method="post" enctype="multipart/form-data" style="width:100%">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <input type="file" name="cv">
                </div>
                <div class="col-2">
                    <input type="submit" value="Upload">
                </div>
            </div>
        </form>
        <br><br>
        <div class="row" style="display:block">
            <h6>Let Us Get To Know More About You...</h6>
            <br>
        </div>
        <form method="get" action="{% url 'interview' %}" style="width: 100%;">
            <button type="submit" style="width: 100%;">Go To Questions</button>
        </form>
    </div>

{% endblock %}