<div class="col-md-3 scroll" style="padding-top:150px; padding-bottom:150px; margin-right: 3px; padding-left:0px">
    <div class="container box">
        <h3 style="text-align:center; padding-top: 15px">Candidates</h3>
        <br>
        <ul class="list-group">
            <form method="get">
                <input type="hidden" name="update" value="1" />
                <input type="hidden" name="job_id" value="{{job.id}}" />
                <button class="btn btn-outline-secondary"
                        style="width:100%" onclick="this.parentNode.submit()"
                >Refresh Recommendations</button>
            </form>
            {% if request.path == "/dashboard/"%}
                <a class="btn btn-outline-secondary" href="{% url 'custom_search' %}?job={{job.id}}">Start Custom Search</a>
            {% else %}
                <a class="btn btn-outline-secondary" href="{% url 'dash' %}?job_id={{job.id}}">End Custom Search</a>
            {% endif %}
            <br>
            <div class="container box" style="padding:0px; margin:0px;">
                {% for application in applicants %}
                    {% if application.id == applicant.id %}
                        <form method="get" style="outline-style: solid; outline-width: 1px;">
                            <input type="hidden" name="job_id" value="{{job.id}}"/>
                            <a href="#" style="padding:10px; background:#ddd; display:block"
                               onclick="this.parentNode.submit()"
                            >{{ application.username }} (X)</a>
                        </form>
                    {% else %}
                        <form method="get" action="{% url 'dash' %}" style="padding:10px; display:block; outline-style: solid; outline-width: 1px;">
                            <input type="hidden" name="job_id" value="{{job.id}}" />
                            <input type="hidden" name="user" value="{{application.id}}" />
                            <a href="#" onclick="this.parentNode.submit()" style="display:block;"
                            >{{ application.username }}</a>
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
          </ul>
    </div>
</div>