{% extends 'resume_analysis_app/_site_frame.html' %}
{% block content %}
    <div class="container box" style="padding: 2%">
        <div class="row">
            <div class="col"><h4>Organisations Owned By {{user.first_name}}</h4></div>
            <div class="col-1" style="margin-right:20px">
                <form method="get" action="{% url 'add_organisation' %}">
                    <button class="btn btn-outline-secondary" type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>
    {% for org in orgs %}
        <div class="container box">
            <div class="row">
                <div class="col">
                    <a href="{% url 'organisation_view' %}?id={{org.id}}">
                        <div class="row">
                            <img src="{{org.logo.url}}" style="width:20%; display: block; margin-left: 30px; margin-right: auto;">
                        </div>
                    </a>
                </div>
                {% if org.owner == user %}
                    <div class="col-4" style="text-align: right !important">
                        <form method="get" action="{% url 'add_organisation' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{org.id}}">
                            <a href="#" onclick="this.parentNode.submit();">Update Organisation</a>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}